/LyyranTestaus/nbproject/private/
/LyyranTestaus/build/
/YlhaaltaRajoitettuLaskuri/nbproject/private/
/LaskurinTestaus/nbproject/private/
/LaskurinTestaus/build/
/KellonDebuggaus/nbproject/private/
/KellonDebuggaus/build/
/LukutilastonTestaus/nbproject/private/
/LukutilastonTestaus/build/